body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    background-color: #000000;
    color: #00ff00;
    height: 100vh;
    overflow: hidden;
    font-size: 18px; /* Increase overall font size */
}

#boot-screen {
    padding: 20px;
    font-size: 16px; /* Increase font size */
    white-space: pre-wrap;
    background-color: #000000;
    color: #00ff00;
}

#main-screen {
    padding: 10px;
    font-size: 18px; /* Increase font size */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000000;
    color: #00ff00;
    font-family: "Press Start 2P", "Courier New", Courier, monospace; /* 1980s desktop type font */
}

#terminal {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #000000;
    color: #00ff00;
}

#output {
    flex-grow: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px;
}

#input-line {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Adjust this value to move the prompt lower */
}

.prompt {
    margin-right: 5px;
    color: #00ff00;
    font-weight: bold;
}

#command-input {
    background: transparent;
    border: none;
    color: #00ff00;
    outline: none;
    font-size: inherit;
    width: 100%;
    caret-color: #00ff00;
    font-family: "Press Start 2P", "Courier New", Courier, monospace; /* 1980s desktop type font */
}

/* Add styles for the new commands */
#weather-info,
#date-info,
#joke {
    margin-top: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #00ff00;
}

#ascii-art {
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #00ff00;
}

#fetch-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

#fetch-art {
    margin-right: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #00ff00;
}

#fetch-info {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #00ff00;
}

#login-form,
#register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#login-form input,
#register-form input {
    background: transparent;
    border: 1px solid #00ff00;
    color: #00ff00;
    outline: none;
    font-size: 16px;
    margin: 5px 0;
    padding: 5px;
    font-family: "Press Start 2P", "Courier New", Courier, monospace; /* 1980s desktop type font */
}

#login-form button,
#register-form button {
    background: #00ff00;
    border: none;
    color: #000000;
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Press Start 2P", "Courier New", Courier, monospace; /* 1980s desktop type font */
}

#login-form a,
#register-form a {
    color: #00ff00;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}
